
.Rhistory

mushroom_dataset/

mushroom_dataset.zip

config.properties

.ipynb_checkpoints/

.idea/

c_d_p/

deep_mushroom/

*.pkl

*.log

*.jpg

01_agaricus.png

01_AutoML.pdf

01_AutoML.R

01_mushrooms_cap_shape.png

01_mushrooms_gill_attach.png

01_shrooms.R

02_DeepLearning_Labs.pdf

02_DeepLearning_Labs.Rmd

02_DeepLearning_Lecture.pdf

02_DeepLearning_Project.Rmd

02_fashionmnist.png

03_DeepLearning_CNN.Rmd

CNN.pdf

DeepLearning_CNN.pdf

DeepLearning_CNN.R

DeepLearning_CNN.Rmd

XAI.R
