
boletus.csv

.Rhistory

cat_dog_panda/

mushroom_dataset/

mushroom_dataset.zip

config.properties

.ipynb_checkpoints/

.idea/

c_d_p/

deep_mushroom/

mushroom_dict_clean_1_photos.pkl

mushroom_dict_clean_2_photos.pkl

mushroom_dict_clean_3_photos.pkl

mushroom_dict_clean_4_photos.pkl

mushroom_dict_clean_5_photos.pkl

*.pkl

*.log

03_DeepLearning_CNN.tex

*.jpg
